@charset "UTF-8";
/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
  }
  
  
  /* styling for button*/
  
       .button-container {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			height: 30vh;
		
		}

	    .button {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 200px;
			height: 100px;
			margin: 20px; 
			border-radius: 10px;
			background-color: #4CAF50;
			color: white;
			font-size: 2em;
			font-weight: bold;
			text-transform: uppercase;
			text-align: center;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
			cursor: pointer;
			transition: transform 0.2s ease-in-out;
            text-decoration: none;
		}

		.button:hover {
			transform: scale(1.05);
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
		}

		.button:nth-child(2n) {
			background-color: #2196F3;
		}

		.button:nth-child(3n) {
			background-color: #9C27B0;
		}

		.button:nth-child(4n) {
			background-color: #F44336;
		}
		
		
  
  nav {
    background-color: #005086;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height:90px;
  }
  
  nav label {
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  header {
    background-color: #f2f2f2;
    padding: 50px;
    text-align: center;
  }
  
  h1 {
    font-size: 40px;
  }
  
  main {
    margin: 50px;
  }
  
  section {
    border: 1px solid #ddd;
    padding: 20px;
  }
  
  footer {
    background-color: #005086;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom:0;
    width:100%;
    height:60px;
    
  }
  
  @media screen and (max-width: 768px) {
    nav label {
      display: block;
    }
    
    nav ul {
      display: none;
      flex-direction: column;
      text-align: center;
      width: 100%;
    }
    
    nav ul li {
      margin: 10px 0;
    }
    
    nav label {
      font-size: 20px;
    }
    
    .menu {
      display: none;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      background-color: #005086;
      text-align: center;
    }
    
    .slider-container {
				height: 300px;
			}
    
    input[type="checkbox"]:checked ~ .menu {
      display: block;
    }
  }
  
  /*css for slider*/
  
      .slider-container {

			position: relative;
			height: 300px;
			overflow: hidden;
		}

		.slider-container img {
			width: 100%;
			height: 90%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			transition: opacity 0.5s ease-in-out;
		}

		.slider-container img.active {
			opacity: 1;
		}

		.slider-container .prev, .slider-container .next {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			font-size: 2em;
			font-weight: bold;
			color: #fff;
			cursor: pointer;
			transition: opacity 0.2s ease-in-out;
		}

		.slider-container .prev:hover, .slider-container .next:hover {
			opacity: 0.7;
		}

		.slider-container .prev {
			left: 20px;
		}

		.slider-container .next {
			right: 20px;
		}
  
  